<form class="container1">
    <div class="select">
        <div class="selected">
            <input type="text" placeholder="Select Country" name="country" autofocus>
            <div class="cross">
                <div class="lines lines1"></div>
                <div class="lines lines2"></div>
            </div>
        </div>
        <button>ok</button>
    </div>

    <div class="selectBox">
        <div class="optionContainer">
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Afghanistan"
                    value="Afghanistan"
                /><label for="Afghanistan">Afghanistan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Albania"
                    value="Albania"
                /><label for="Albania">Albania</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Algeria"
                    value="Algeria"
                /><label for="Algeria">Algeria</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Andorra"
                    value="Andorra"
                /><label for="Andorra">Andorra</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Angola"
                    value="Angola"
                /><label for="Angola">Angola</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Antigua and Barbuda"
                    value="Antigua and Barbuda"
                /><label for="Antigua and Barbuda">Antigua and Barbuda</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Argentina"
                    value="Argentina"
                /><label for="Argentina">Argentina</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Armenia"
                    value="Armenia"
                /><label for="Armenia">Armenia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Australia"
                    value="Australia"
                /><label for="Australia">Australia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Austria"
                    value="Austria"
                /><label for="Austria">Austria</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Azerbaijan"
                    value="Azerbaijan"
                /><label for="Azerbaijan">Azerbaijan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bahamas"
                    value="Bahamas"
                /><label for="Bahamas">Bahamas</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bahrain"
                    value="Bahrain"
                /><label for="Bahrain">Bahrain</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bangladesh"
                    value="Bangladesh"
                /><label for="Bangladesh">Bangladesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Barbados"
                    value="Barbados"
                /><label for="Barbados">Barbados</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Belarus"
                    value="Belarus"
                /><label for="Belarus">Belarus</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Belgium"
                    value="Belgium"
                /><label for="Belgium">Belgium</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Belize"
                    value="Belize"
                /><label for="Belize">Belize</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Benin"
                    value="Benin"
                /><label for="Benin">Benin</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bhutan"
                    value="Bhutan"
                /><label for="Bhutan">Bhutan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bolivia"
                    value="Bolivia"
                /><label for="Bolivia">Bolivia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bosnia and Herzegovina"
                    value="Bosnia and Herzegovina"
                /><label for="Bosnia and Herzegovina"
                    >Bosnia and Herzegovina</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Botswana"
                    value="Botswana"
                /><label for="Botswana">Botswana</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Brazil"
                    value="Brazil"
                /><label for="Brazil">Brazil</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Brunei"
                    value="Brunei"
                /><label for="Brunei">Brunei</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Bulgaria"
                    value="Bulgaria"
                /><label for="Bulgaria">Bulgaria</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Burkina Faso"
                    value="Burkina Faso"
                /><label for="Burkina Faso">Burkina Faso</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Burma"
                    value="Burma"
                /><label for="Burma">Burma</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Burundi"
                    value="Burundi"
                /><label for="Burundi">Burundi</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cabo Verde"
                    value="Cabo Verde"
                /><label for="Cabo Verde">Cabo Verde</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cambodia"
                    value="Cambodia"
                /><label for="Cambodia">Cambodia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cameroon"
                    value="Cameroon"
                /><label for="Cameroon">Cameroon</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Canada"
                    value="Canada"
                /><label for="Canada">Canada</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Central African Republic"
                    value="Central African Republic"
                /><label for="Central African Republic"
                    >Central African Republic</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Chad"
                    value="Chad"
                /><label for="Chad">Chad</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Chile"
                    value="Chile"
                /><label for="Chile">Chile</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="China"
                    value="China"
                /><label for="China">China</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Colombia"
                    value="Colombia"
                /><label for="Colombia">Colombia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Comoros"
                    value="Comoros"
                /><label for="Comoros">Comoros</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Congo (Brazzaville)"
                    value="Congo (Brazzaville)"
                /><label for="Congo (Brazzaville)">Congo (Brazzaville)</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Congo (Kinshasa)"
                    value="Congo (Kinshasa)"
                /><label for="Congo (Kinshasa)">Congo (Kinshasa)</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Costa Rica"
                    value="Costa Rica"
                /><label for="Costa Rica">Costa Rica</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cote d'Ivoire"
                    value="Cote d'Ivoire"
                /><label for="Cote d'Ivoire">Cote d'Ivoire</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Croatia"
                    value="Croatia"
                /><label for="Croatia">Croatia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cuba"
                    value="Cuba"
                /><label for="Cuba">Cuba</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Cyprus"
                    value="Cyprus"
                /><label for="Cyprus">Cyprus</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Czechia"
                    value="Czechia"
                /><label for="Czechia">Czechia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Denmark"
                    value="Denmark"
                /><label for="Denmark">Denmark</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Diamond Princess"
                    value="Diamond Princess"
                /><label for="Diamond Princess">Diamond Princess</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Djibouti"
                    value="Djibouti"
                /><label for="Djibouti">Djibouti</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Dominica"
                    value="Dominica"
                /><label for="Dominica">Dominica</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Dominican Republic"
                    value="Dominican Republic"
                /><label for="Dominican Republic">Dominican Republic</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Ecuador"
                    value="Ecuador"
                /><label for="Ecuador">Ecuador</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Egypt"
                    value="Egypt"
                /><label for="Egypt">Egypt</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="El Salvador"
                    value="El Salvador"
                /><label for="El Salvador">El Salvador</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Equatorial Guinea"
                    value="Equatorial Guinea"
                /><label for="Equatorial Guinea">Equatorial Guinea</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Eritrea"
                    value="Eritrea"
                /><label for="Eritrea">Eritrea</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Estonia"
                    value="Estonia"
                /><label for="Estonia">Estonia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Eswatini"
                    value="Eswatini"
                /><label for="Eswatini">Eswatini</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Ethiopia"
                    value="Ethiopia"
                /><label for="Ethiopia">Ethiopia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Fiji"
                    value="Fiji"
                /><label for="Fiji">Fiji</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Finland"
                    value="Finland"
                /><label for="Finland">Finland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="France"
                    value="France"
                /><label for="France">France</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Gabon"
                    value="Gabon"
                /><label for="Gabon">Gabon</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Gambia"
                    value="Gambia"
                /><label for="Gambia">Gambia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Georgia"
                    value="Georgia"
                /><label for="Georgia">Georgia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Germany"
                    value="Germany"
                /><label for="Germany">Germany</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Ghana"
                    value="Ghana"
                /><label for="Ghana">Ghana</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Greece"
                    value="Greece"
                /><label for="Greece">Greece</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Grenada"
                    value="Grenada"
                /><label for="Grenada">Grenada</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Guatemala"
                    value="Guatemala"
                /><label for="Guatemala">Guatemala</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Guinea"
                    value="Guinea"
                /><label for="Guinea">Guinea</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Guinea-Bissau"
                    value="Guinea-Bissau"
                /><label for="Guinea-Bissau">Guinea-Bissau</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Guyana"
                    value="Guyana"
                /><label for="Guyana">Guyana</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Haiti"
                    value="Haiti"
                /><label for="Haiti">Haiti</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Holy See"
                    value="Holy See"
                /><label for="Holy See">Holy See</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Honduras"
                    value="Honduras"
                /><label for="Honduras">Honduras</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Hungary"
                    value="Hungary"
                /><label for="Hungary">Hungary</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Iceland"
                    value="Iceland"
                /><label for="Iceland">Iceland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="India"
                    value="India"
                /><label for="India">India</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Indonesia"
                    value="Indonesia"
                /><label for="Indonesia">Indonesia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Iran"
                    value="Iran"
                /><label for="Iran">Iran</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Iraq"
                    value="Iraq"
                /><label for="Iraq">Iraq</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Ireland"
                    value="Ireland"
                /><label for="Ireland">Ireland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Israel"
                    value="Israel"
                /><label for="Israel">Israel</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Italy"
                    value="Italy"
                /><label for="Italy">Italy</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Jamaica"
                    value="Jamaica"
                /><label for="Jamaica">Jamaica</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Japan"
                    value="Japan"
                /><label for="Japan">Japan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Jordan"
                    value="Jordan"
                /><label for="Jordan">Jordan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Kazakhstan"
                    value="Kazakhstan"
                /><label for="Kazakhstan">Kazakhstan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Kenya"
                    value="Kenya"
                /><label for="Kenya">Kenya</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Korea, South"
                    value="Korea, South"
                /><label for="Korea, South">Korea, South</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Kosovo"
                    value="Kosovo"
                /><label for="Kosovo">Kosovo</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Kuwait"
                    value="Kuwait"
                /><label for="Kuwait">Kuwait</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Kyrgyzstan"
                    value="Kyrgyzstan"
                /><label for="Kyrgyzstan">Kyrgyzstan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Laos"
                    value="Laos"
                /><label for="Laos">Laos</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Latvia"
                    value="Latvia"
                /><label for="Latvia">Latvia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Lebanon"
                    value="Lebanon"
                /><label for="Lebanon">Lebanon</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Lesotho"
                    value="Lesotho"
                /><label for="Lesotho">Lesotho</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Liberia"
                    value="Liberia"
                /><label for="Liberia">Liberia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Libya"
                    value="Libya"
                /><label for="Libya">Libya</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Liechtenstein"
                    value="Liechtenstein"
                /><label for="Liechtenstein">Liechtenstein</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Lithuania"
                    value="Lithuania"
                /><label for="Lithuania">Lithuania</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Luxembourg"
                    value="Luxembourg"
                /><label for="Luxembourg">Luxembourg</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="MS Zaandam"
                    value="MS Zaandam"
                /><label for="MS Zaandam">MS Zaandam</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Madagascar"
                    value="Madagascar"
                /><label for="Madagascar">Madagascar</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Malawi"
                    value="Malawi"
                /><label for="Malawi">Malawi</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Malaysia"
                    value="Malaysia"
                /><label for="Malaysia">Malaysia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Maldives"
                    value="Maldives"
                /><label for="Maldives">Maldives</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mali"
                    value="Mali"
                /><label for="Mali">Mali</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Malta"
                    value="Malta"
                /><label for="Malta">Malta</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mauritania"
                    value="Mauritania"
                /><label for="Mauritania">Mauritania</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mauritius"
                    value="Mauritius"
                /><label for="Mauritius">Mauritius</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mexico"
                    value="Mexico"
                /><label for="Mexico">Mexico</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Moldova"
                    value="Moldova"
                /><label for="Moldova">Moldova</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Monaco"
                    value="Monaco"
                /><label for="Monaco">Monaco</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mongolia"
                    value="Mongolia"
                /><label for="Mongolia">Mongolia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Montenegro"
                    value="Montenegro"
                /><label for="Montenegro">Montenegro</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Morocco"
                    value="Morocco"
                /><label for="Morocco">Morocco</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Mozambique"
                    value="Mozambique"
                /><label for="Mozambique">Mozambique</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Namibia"
                    value="Namibia"
                /><label for="Namibia">Namibia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Nepal"
                    value="Nepal"
                /><label for="Nepal">Nepal</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Netherlands"
                    value="Netherlands"
                /><label for="Netherlands">Netherlands</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="New Zealand"
                    value="New Zealand"
                /><label for="New Zealand">New Zealand</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Nicaragua"
                    value="Nicaragua"
                /><label for="Nicaragua">Nicaragua</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Niger"
                    value="Niger"
                /><label for="Niger">Niger</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Nigeria"
                    value="Nigeria"
                /><label for="Nigeria">Nigeria</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="North Macedonia"
                    value="North Macedonia"
                /><label for="North Macedonia">North Macedonia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Norway"
                    value="Norway"
                /><label for="Norway">Norway</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Oman"
                    value="Oman"
                /><label for="Oman">Oman</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Pakistan"
                    value="Pakistan"
                /><label for="Pakistan">Pakistan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Panama"
                    value="Panama"
                /><label for="Panama">Panama</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Papua New Guinea"
                    value="Papua New Guinea"
                /><label for="Papua New Guinea">Papua New Guinea</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Paraguay"
                    value="Paraguay"
                /><label for="Paraguay">Paraguay</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Peru"
                    value="Peru"
                /><label for="Peru">Peru</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Philippines"
                    value="Philippines"
                /><label for="Philippines">Philippines</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Poland"
                    value="Poland"
                /><label for="Poland">Poland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Portugal"
                    value="Portugal"
                /><label for="Portugal">Portugal</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Qatar"
                    value="Qatar"
                /><label for="Qatar">Qatar</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Romania"
                    value="Romania"
                /><label for="Romania">Romania</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Russia"
                    value="Russia"
                /><label for="Russia">Russia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Rwanda"
                    value="Rwanda"
                /><label for="Rwanda">Rwanda</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Saint Kitts and Nevis"
                    value="Saint Kitts and Nevis"
                /><label for="Saint Kitts and Nevis"
                    >Saint Kitts and Nevis</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Saint Lucia"
                    value="Saint Lucia"
                /><label for="Saint Lucia">Saint Lucia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Saint Vincent and the Grenadines"
                    value="Saint Vincent and the Grenadines"
                /><label for="Saint Vincent and the Grenadines"
                    >Saint Vincent and the Grenadines</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="San Marino"
                    value="San Marino"
                /><label for="San Marino">San Marino</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Sao Tome and Principe"
                    value="Sao Tome and Principe"
                /><label for="Sao Tome and Principe"
                    >Sao Tome and Principe</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Saudi Arabia"
                    value="Saudi Arabia"
                /><label for="Saudi Arabia">Saudi Arabia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Senegal"
                    value="Senegal"
                /><label for="Senegal">Senegal</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Serbia"
                    value="Serbia"
                /><label for="Serbia">Serbia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Seychelles"
                    value="Seychelles"
                /><label for="Seychelles">Seychelles</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Sierra Leone"
                    value="Sierra Leone"
                /><label for="Sierra Leone">Sierra Leone</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Singapore"
                    value="Singapore"
                /><label for="Singapore">Singapore</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Slovakia"
                    value="Slovakia"
                /><label for="Slovakia">Slovakia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Slovenia"
                    value="Slovenia"
                /><label for="Slovenia">Slovenia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Somalia"
                    value="Somalia"
                /><label for="Somalia">Somalia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="South Africa"
                    value="South Africa"
                /><label for="South Africa">South Africa</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="South Sudan"
                    value="South Sudan"
                /><label for="South Sudan">South Sudan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Spain"
                    value="Spain"
                /><label for="Spain">Spain</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Sri Lanka"
                    value="Sri Lanka"
                /><label for="Sri Lanka">Sri Lanka</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Sudan"
                    value="Sudan"
                /><label for="Sudan">Sudan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Suriname"
                    value="Suriname"
                /><label for="Suriname">Suriname</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Sweden"
                    value="Sweden"
                /><label for="Sweden">Sweden</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Switzerland"
                    value="Switzerland"
                /><label for="Switzerland">Switzerland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Syria"
                    value="Syria"
                /><label for="Syria">Syria</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Taiwan*"
                    value="Taiwan*"
                /><label for="Taiwan*">Taiwan*</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Tajikistan"
                    value="Tajikistan"
                /><label for="Tajikistan">Tajikistan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Tanzania"
                    value="Tanzania"
                /><label for="Tanzania">Tanzania</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Thailand"
                    value="Thailand"
                /><label for="Thailand">Thailand</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Timor-Leste"
                    value="Timor-Leste"
                /><label for="Timor-Leste">Timor-Leste</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Togo"
                    value="Togo"
                /><label for="Togo">Togo</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Trinidad and Tobago"
                    value="Trinidad and Tobago"
                /><label for="Trinidad and Tobago">Trinidad and Tobago</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Tunisia"
                    value="Tunisia"
                /><label for="Tunisia">Tunisia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Turkey"
                    value="Turkey"
                /><label for="Turkey">Turkey</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="US"
                    value="US"
                /><label for="US">US</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Uganda"
                    value="Uganda"
                /><label for="Uganda">Uganda</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Ukraine"
                    value="Ukraine"
                /><label for="Ukraine">Ukraine</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="United Arab Emirates"
                    value="United Arab Emirates"
                /><label for="United Arab Emirates">United Arab Emirates</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="United Kingdom"
                    value="United Kingdom"
                /><label for="United Kingdom">United Kingdom</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Uruguay"
                    value="Uruguay"
                /><label for="Uruguay">Uruguay</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Uzbekistan"
                    value="Uzbekistan"
                /><label for="Uzbekistan">Uzbekistan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Venezuela"
                    value="Venezuela"
                /><label for="Venezuela">Venezuela</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Vietnam"
                    value="Vietnam"
                /><label for="Vietnam">Vietnam</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="West Bank and Gaza"
                    value="West Bank and Gaza"
                /><label for="West Bank and Gaza">West Bank and Gaza</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Western Sahara"
                    value="Western Sahara"
                /><label for="Western Sahara">Western Sahara</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Yemen"
                    value="Yemen"
                /><label for="Yemen">Yemen</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Zambia"
                    value="Zambia"
                /><label for="Zambia">Zambia</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="country1"
                    id="Zimbabwe"
                    value="Zimbabwe"
                /><label for="Zimbabwe">Zimbabwe</label>
            </div>
        </div>
    </div>
</form>
