<header>
    <h1>Covid19-Tracker</h1>
    <ul>
        <li><a href="/">World</a></li>
        <li><a href="/india">India</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>
    