<form class="container1">
    <div class="select">
        <div class="selected">
            <input type="text" placeholder="Select State" name="state" autofocus>
            <div class="cross">
                <div class="lines lines1"></div>
                <div class="lines lines2"></div>
            </div>
        </div>
        <button>ok</button>
    </div>

    <div class="selectBox">
        <div class="optionContainer">
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Andaman and Nicobar Islands"
                    value="Andaman and Nicobar Islands"
                /><label for="Andaman and Nicobar Islands"
                    >Andaman and Nicobar Islands</label
                >
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Andhra Pradesh"
                    value="Andhra Pradesh"
                /><label for="Andhra Pradesh">Andhra Pradesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Arunachal Pradesh"
                    value="Arunachal Pradesh"
                /><label for="Arunachal Pradesh">Arunachal Pradesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Assam"
                    value="Assam"
                /><label for="Assam">Assam</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Bihar"
                    value="Bihar"
                /><label for="Bihar">Bihar</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Chandigarh"
                    value="Chandigarh"
                /><label for="Chandigarh">Chandigarh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Chhattisgarh"
                    value="Chhattisgarh"
                /><label for="Chhattisgarh">Chhattisgarh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Dadar Nagar Haveli"
                    value="Dadar Nagar Haveli"
                /><label for="Dadar Nagar Haveli">Dadar Nagar Haveli</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Delhi"
                    value="Delhi"
                /><label for="Delhi">Delhi</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Goa"
                    value="Goa"
                /><label for="Goa">Goa</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Gujarat"
                    value="Gujarat"
                /><label for="Gujarat">Gujarat</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Haryana"
                    value="Haryana"
                /><label for="Haryana">Haryana</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Himachal Pradesh"
                    value="Himachal Pradesh"
                /><label for="Himachal Pradesh">Himachal Pradesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Jammu and Kashmir"
                    value="Jammu and Kashmir"
                /><label for="Jammu and Kashmir">Jammu and Kashmir</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Jharkhand"
                    value="Jharkhand"
                /><label for="Jharkhand">Jharkhand</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Karnataka"
                    value="Karnataka"
                /><label for="Karnataka">Karnataka</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Kerala"
                    value="Kerala"
                /><label for="Kerala">Kerala</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Ladakh"
                    value="Ladakh"
                /><label for="Ladakh">Ladakh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Madhya Pradesh"
                    value="Madhya Pradesh"
                /><label for="Madhya Pradesh">Madhya Pradesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Maharashtra"
                    value="Maharashtra"
                /><label for="Maharashtra">Maharashtra</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Manipur"
                    value="Manipur"
                /><label for="Manipur">Manipur</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Meghalaya"
                    value="Meghalaya"
                /><label for="Meghalaya">Meghalaya</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Mizoram"
                    value="Mizoram"
                /><label for="Mizoram">Mizoram</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Nagaland"
                    value="Nagaland"
                /><label for="Nagaland">Nagaland</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Odisha"
                    value="Odisha"
                /><label for="Odisha">Odisha</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Puducherry"
                    value="Puducherry"
                /><label for="Puducherry">Puducherry</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Punjab"
                    value="Punjab"
                /><label for="Punjab">Punjab</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Rajasthan"
                    value="Rajasthan"
                /><label for="Rajasthan">Rajasthan</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Sikkim"
                    value="Sikkim"
                /><label for="Sikkim">Sikkim</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Tamil Nadu"
                    value="Tamil Nadu"
                /><label for="Tamil Nadu">Tamil Nadu</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Telengana"
                    value="Telengana"
                /><label for="Telengana">Telengana</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Tripura"
                    value="Tripura"
                /><label for="Tripura">Tripura</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Uttarakhand"
                    value="Uttarakhand"
                /><label for="Uttarakhand">Uttarakhand</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="Uttar Pradesh"
                    value="Uttar Pradesh"
                /><label for="Uttar Pradesh">Uttar Pradesh</label>
            </div>
            <div class="option">
                <input
                    type="radio"
                    class="radio"
                    name="state1"
                    id="West Bengal"
                    value="West Bengal"
                /><label for="West Bengal">West Bengal</label>
            </div>
        </div>
    </div>
</form>
