<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID19-Tracker</title>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <section class="container">
        <p>

            "Help
            would always be given at Hogwarts, to those who deserve it." Do not pity the dead, Harry. Pity the living.
            And
            above all, those who live without love. <br><br>
            These quotes by Professor Dumbledore always used to inspire me, there are a lot of people out there who
            deserve our help, love and support. We all can contribute a little to make the world a better place so that
            one day
            when we would ponder upon the time when the whole world united by isolating themself and laugh at the irony
            of that situation.
            <br><br>
            <a style="color: red;" href="https://www.pmcares.gov.in/en/web/contribution/donate_india">Let's play our
                part</a>

        </p>
    </section>
    {{>footer}}
    <script src="/javascript/app.js"></script>
</body>

</html>